.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.navigation {
  background-color: orange;
}

.navigation a {
  color: inherit;
}

.navLink {
  float: right;
  margin-right: 10px;
}